node_modules

._*
*.example
.thumbs
.idea
.DS_Store
.sass-cache
.vscode
cert.pem
key.pem
__*

/*.txt
/*.rst
/flow
/flow.bat
/gulp_local.yaml

/bin
/Build
/Data
/Packages
/_Resources

/Web/_Resources
/Web/index.php
/Web/robots.txt

# Beach config
/Configuration/*
!/Configuration/Development
/Configuration/Development/*
!/Configuration/Development/Beach
!/Configuration/Production
/Configuration/Production/*
!/Configuration/Production/Beach
!/Configuration/Testing
/Configuration/Testing/*
!/Configuration/Testing/Beach
