$slider-autoplay-duration: 6s;
$slider-transition-duration: 0.3s;
$slider-transition-delay: 0.5s;
$slider-fade-breakpoint: 1024px;
$slider-fade-duration: 0.5s;
$slider-color-button: #333;
$slider-color-dot: #333;
